

  body{
      margin: 0;
      padding: 0;

  }

  #header-area{
      display: flex;
      background-image: url(img/top-banner.png);
      background-repeat: no-repeat;

  }

  .welcome h1{
      font-size: 55px;
      line-height: 0;
      color: rgba(55, 41, 68, 0.836);
  }

  .welcome h3{
    font-size: 35px;
    line-height: 5px;
    margin-bottom: 70px;
    color: rgba(55, 41, 68, 0.836);
  }

  .welcome h3 span{
      color: rgba(95, 194, 15, 0.87);
  }

  .welcome h4{
    font-size: 28px;
    line-height: 0;
    color: rgba(55, 41, 68, 0.836);
  }

  .welcome p{
    font-size: 20px;
    text-align: justify;
  }

  .hire-me{
      text-decoration: none;
      background-image: linear-gradient(rgba(233, 190, 104, 0.815), rgb(114, 75, 151));
      padding: 10px 25px;
      color: aliceblue;
      font-weight: bold;
      border-radius: 5px;
      font-size: 25px;
  }

  ul{
      width: 100%;
      padding: 0;
      text-align: right;
  }

  ul li {
      list-style: none;
      display: inline-block;
  }

  ul li a{
      font-size: 40px;
      padding: 5px;
  }



  .welcome, .main-image{
      width: 50%;
      padding-top: 3%;
      padding-left: 5%;
      padding-right: 3%;
  }
  .social-media, .fa-facebook-f{
      color: #1877F2;
  }
  .social-media, .fa-linkedin-in{
    color: #0A66C2;
}
.social-media, .fa-twitter{
    color: #1DA1F2;
}



/*------------ Emd of Header area------------- */

#dream{
    display: flex;
    margin-top: 50px;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.image-area{
    width: 40%;
    text-align: center;

}
.dream{
    width: 60%;
}

.dream h1{
    font-size: 55px;
    line-height: 0;
    color: rgba(55, 41, 68, 0.836);
}

.dream h4{
    font-size: 30px;
    margin-bottom: 0;
    color: rgba(55, 41, 68, 0.836);
}

.dream p{
    font-size: 20px;
    padding: 5px 130px 30px 0;
    margin: 0;
    text-align: justify;
}

.dream a{
    text-decoration: none;
    background-image: linear-gradient(rgba(233, 190, 104, 0.815), rgb(114, 75, 151));
    color: aliceblue;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 50px;
    font-size: 25px;
}


/*------------- End of dream area------------ */

#exprience{
    margin-top: 150px;
    margin-bottom: 150px;
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
}

.exprience-area{
    display: flex;
}

.baby-web{
    width: 40%;
    margin-left: 5%;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(87, 70, 235), rgb(153, 49, 49));
    border-image-slice: 1;
    border-radius: 10px;
}


.full-stack{
    width: 40%;
    margin-left: 5%;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(0,143,104), rgb(233, 203, 13));
    border-image-slice: 1;
    border-radius: 10px;
}

.head-top{
    margin-bottom: 100px;
}

.head-top h1{
    font-size: 55px;
    line-height: 0;
    text-align: center;
    color: rgba(55, 41, 68, 0.836);
}

.exprience-area h1{
    font-size: 35px;
    color: rgba(55, 41, 68, 0.836);
}

.exprience-area h4{
    font-size: 20px;
    margin-bottom: 0;
    color: rgba(55, 41, 68, 0.836);
}

.exprience-area p{
    font-size: 20px;
}

/*__________ End of Exprience_________ */
